.ImageSection{
   
   img{
       position: absolute;
       z-index: -1;
       height:26rem;
       width: 100%;
   }
   .heading{
       text-align: center;
       font-size: 4rem;
       font-family:monospace;
       font-weight: 500;
       color: rgb(236, 234, 246);
       padding-top: 2%;
   }

   .subHead{
       font-size: 2rem;
       margin-top:1rem;
       text-align: center;
       color: rgb(251, 166, 8);
   }

   .filterLocation{
      text-align: center;
     
      .inputLocation{
           margin: 4rem 0 0 0;
           height: 4rem;
           max-width: 25rem;
           border: none;
           border-top-right-radius:10rem;
           border-bottom-right-radius: 10rem;
           border-top-left-radius:10rem;
           border-bottom-left-radius: 10rem;
           outline: none;
           font-size: 2rem;
           padding: 0 1%;
           text-align: center;      
      }

      .selectCity{
            margin: 0  2rem;
            height: 4rem;
            width: 15rem;
            border-top-right-radius:10rem;
            border-bottom-right-radius: 10rem;
            border-top-left-radius:10rem;
            border-bottom-left-radius: 10rem;
            border: none;
            outline: none;
            background-color: white;
            padding: 0 1%;
            font-size: 2rem;
      }

      .findLocation{
           margin-left: 10px;
           border: none;
           height: 3rem;
           width: 10rem;
           font-size: 1.8rem;
           cursor: pointer;
           color: black;
           background-color: rgb(250, 206, 10);
           border-top-right-radius:10rem;
           border-bottom-left-radius: 10rem;
      }
    }
   
}